## Deliverable 2. Create a Customer Travel Destinations Map.

In [4]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key

from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [5]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("..\Weather_Database\WeatherPy_Database.csv")
# city_data_df = pd.read_csv("cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
0,0,Nishihara,26.1842,127.7558,68.00,63,40,9.22,JP,scattered clouds
1,1,Bluff,-46.6000,168.3333,50.00,84,66,1.99,NZ,broken clouds
2,2,Del Rio,29.3627,-100.8968,60.80,48,90,8.05,US,overcast clouds
3,3,Kaukauna,44.2780,-88.2720,39.00,52,90,17.27,US,overcast clouds
4,4,Krasnyy Chikoy,50.3643,108.7512,43.32,45,8,4.63,RU,clear sky

In [6]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 100

In [7]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
0,0,Nishihara,26.1842,127.7558,68.00,63,40,9.22,JP,scattered clouds
1,1,Bluff,-46.6000,168.3333,50.00,84,66,1.99,NZ,broken clouds
2,2,Del Rio,29.3627,-100.8968,60.80,48,90,8.05,US,overcast clouds
5,5,Ridgecrest,35.6225,-117.6709,62.01,29,1,3.65,US,clear sky
6,6,Mayo,38.8876,-76.5119,57.00,76,90,5.75,US,overcast clouds
7,7,Hermanus,-34.4187,19.2345,66.00,63,100,11.99,ZA,overcast clouds
8,8,Faanui,-16.4833,-151.7500,81.82,71,10,13.04,PF,clear sky
12,12,Port Elizabeth,-33.9180,25.5701,60.80,82,90,8.05,ZA,light rain
13,13,Albany,42.6001,-73.9662,57.99,46,40,2.62,US,scattered clouds
17,17,Chuy,-33.6971,-53.4616,71.06,58,77,10.56,UY,broken clouds

In [8]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                55
City                   55
Lat                    55
Lng                    55
Max Temp               55
Humidity               55
Cloudiness             55
Wind Speed             55
Country                55
Current Description    55
dtype: int64

In [9]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()
# hotel_df = clean_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Nishihara,JP,68.00,scattered clouds,26.1842,127.7558,
1,Bluff,NZ,50.00,broken clouds,-46.6000,168.3333,
2,Del Rio,US,60.80,overcast clouds,29.3627,-100.8968,
5,Ridgecrest,US,62.01,clear sky,35.6225,-117.6709,
6,Mayo,US,57.00,overcast clouds,38.8876,-76.5119,
7,Hermanus,ZA,66.00,overcast clouds,-34.4187,19.2345,
8,Faanui,PF,81.82,clear sky,-16.4833,-151.7500,
12,Port Elizabeth,ZA,60.80,light rain,-33.9180,25.5701,
13,Albany,US,57.99,scattered clouds,42.6001,-73.9662,
17,Chuy,UY,71.06,broken clouds,-33.6971,-53.4616,

In [9]:
hotel_df["Lat"]

1    -33.0153
11     1.5500
17    25.2867
23   -16.4833
25    19.7297
31   -33.5906
32    24.5557
35   -22.9661
36     9.1104
38    -5.1989
40   -21.0096
48    11.6636
49   -21.2078
50     5.6592
54    25.8523
56     5.4112
63   -23.1203
65    20.8833
67     0.1333
69   -13.8833
72    22.0752
79   -20.7377
Name: Lat, dtype: float64

In [11]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key, 
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [13]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

In [14]:
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Nishihara,JP,68.00,scattered clouds,26.1842,127.7558,Minshuku Agaihama
1,Bluff,NZ,50.00,broken clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
2,Del Rio,US,60.80,overcast clouds,29.3627,-100.8968,Holiday Inn Express & Suites del Rio
5,Ridgecrest,US,62.01,clear sky,35.6225,-117.6709,SpringHill Suites by Marriott Ridgecrest
6,Mayo,US,57.00,overcast clouds,38.8876,-76.5119,Resorts Resource Group International
7,Hermanus,ZA,66.00,overcast clouds,-34.4187,19.2345,Misty Waves Boutique Hotel
8,Faanui,PF,81.82,clear sky,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
12,Port Elizabeth,ZA,60.80,light rain,-33.9180,25.5701,39 On Nile Guest House
13,Albany,US,57.99,scattered clouds,42.6001,-73.9662,
17,Chuy,UY,71.06,broken clouds,-33.6971,-53.4616,Nuevo Hotel Plaza
18,Tomatlan,MX,68.40,overcast clouds,19.9333,-105.2500,Norma franco
19,Georgetown,MY,84.20,scattered clouds,5.4112,100.3354,Cititel Penang
21,Marawi,PH,79.00,overcast clouds,7.9986,124.2928,Derogongan Residence
22,Jamestown,US,55.00,clear sky,42.0970,-79.2353,Hampton Inn & Suites Jamestown
23,Bredasdorp,ZA,66.20,light rain,-34.5322,20.0403,Bredasdorp Country Manor
24,Saint-Philippe,RE,77.00,light rain,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
25,Sola,VU,82.54,broken clouds,-13.8833,167.5500,Leumerus Bungalows
26,Alanya,TR,77.00,light rain,36.5438,31.9998,Panorama Hotel
27,Nokaneng,BW,81.77,clear sky,-19.6667,22.2667,
28,Puerto Escondido,MX,80.62,clear sky,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
29,Biak,ID,77.36,overcast clouds,-0.9131,122.8766,Penginapan Kim
30,Ferme-Neuve,CA,55.40,broken clouds,46.7001,-75.4493,Pourvoirie Club Fontbrune Ltee
31,Kruisfontein,ZA,60.01,light rain,-34.0033,24.7314,Oyster Bay House Rental
32,Ussel,FR,69.01,few clouds,45.5500,2.3167,Logis Hôtel les Gravades
33,Vaini,TO,75.20,light rain,-21.2000,-175.2000,Keleti Beach Resort
34,Balabac,PH,82.40,overcast clouds,7.9868,117.0645,Sing and Swing Lodge
35,Shimoda,JP,55.80,clear sky,34.6667,138.9500,Shimoda Tokyu Hotel
36,Rikitea,PF,77.23,clear sky,-23.1203,-134.9692,Pension Maro'i
37,Busselton,AU,59.00,overcast clouds,-33.6500,115.3333,Observatory Guest House
38,Mbuji-Mayi,CD,87.80,light rain,-6.1500,23.6000,GKT Hotel
39,Hilo,US,73.40,overcast clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
40,Tuatapere,NZ,50.00,broken clouds,-46.1333,167.6833,Ron and Tony's Bed & Breakfast
41,Nichinan,JP,54.34,clear sky,31.6000,131.3667,Guest House Aki
42,Ranau,MY,80.60,few clouds,5.9538,116.6641,Ranau Backpackers Hostel
43,Pacific Grove,US,51.80,overcast clouds,36.6177,-121.9166,Lovers Point Inn
44,Kalemie,CD,77.76,overcast clouds,-5.9475,29.1947,Mahobilali
46,Puerto Colombia,CO,84.20,scattered clouds,10.9878,-74.9547,Hotel El Emigrante
47,Tucuma,BR,80.04,broken clouds,-0.1833,-50.0500,
48,Butaritari,KI,83.19,scattered clouds,3.0707,172.7902,Isles Sunset Lodge
49,Puerto Ayora,EC,77.00,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
50,Villarrobledo,ES,68.00,overcast clouds,39.2699,-2.6012,Hotel Castillo
51,Codrington,AU,56.39,scattered clouds,-38.2667,141.9667,Codrington Gardens Bed And Breakfast
52,Avarua,CK,78.80,light rain,-21.2078,-159.7750,Paradise Inn
53,Arraial Do Cabo,BR,80.60,broken clouds,-22.9661,-42.0278,Pousada Porto Praia
56,Hualmay,PE,70.47,overcast clouds,-11.0964,-77.6139,Hotel Villa Kitzia Huacho
57,Bandarbeyla,SO,83.59,broken clouds,9.4942,50.8122,JABIR HOTEL
58,Bathsheba,BB,84.20,scattered clouds,13.2167,-59.5167,Atlantis Hotel
60,Mumbwa,ZM,76.53,broken clouds,-14.9783,27.0619,Mumbwa Motel
62,Ribeira Grande,PT,64.40,scattered clouds,38.5167,-28.7000,Quinta da Meia Eira
63,Alofi,NU,77.00,overcast clouds,-19.0595,-169.9187,Taloa Heights
65,Lorengau,PG,81.68,overcast clouds,-2.0226,147.2712,Lorengau Harbourside Hotel
66,Cape Town,ZA,75.20,few clouds,-33.9258,18.4232,Southern Sun Waterfront Cape Town
68,Rio Grande,BR,75.20,scattered clouds,-32.0350,-52.0986,Hotel Atlântico Rio Grande
69,Andrelandia,BR,71.89,clear sky,-21.7397,-44.3092,Mônica Hotel
70,Itarema,BR,80.06,overcast clouds,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"

In [15]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [16]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
# info_box_template = """
# <dl>
# <dt>Hotel Name</dt><dd>{Hotel Name}</dd>
# <dt>City</dt><dd>{City}</dd>
# <dt>Country</dt><dd>{Country}</dd>
# <dt>Description</dt><dd>{Current Description}</dd>
# <dt>Max Temp</dt><dd>{Max Temp} °F</dd>
# </dl>
# """
info_box_template = """
# <dl>
# <dt>Hotel Name</dt><dd>{Hotel Name}</dd>
# <dt>City</dt><dd>{City}</dd>
# <dt>Country</dt><dd>{Country}</dd>

# <dt>Max Temp</dt><dd>{Max Temp} °F</dd>
# </dl>
# """
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [17]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))