## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
#1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("..\Vacation_Search\WeatherPy_vacation.csv")
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Nishihara,JP,68.00,scattered clouds,26.1842,127.7558,Minshuku Agaihama
1,1,Bluff,NZ,50.00,broken clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
2,2,Del Rio,US,60.80,overcast clouds,29.3627,-100.8968,Holiday Inn Express & Suites del Rio
3,5,Ridgecrest,US,62.01,clear sky,35.6225,-117.6709,SpringHill Suites by Marriott Ridgecrest
4,6,Mayo,US,57.00,overcast clouds,38.8876,-76.5119,Resorts Resource Group International
5,7,Hermanus,ZA,66.00,overcast clouds,-34.4187,19.2345,Misty Waves Boutique Hotel
6,8,Faanui,PF,81.82,clear sky,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
7,12,Port Elizabeth,ZA,60.80,light rain,-33.9180,25.5701,39 On Nile Guest House
8,13,Albany,US,57.99,scattered clouds,42.6001,-73.9662,NaN
9,17,Chuy,UY,71.06,broken clouds,-33.6971,-53.4616,Nuevo Hotel Plaza

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
# info_box_template = """
# <dl>
# <dt>City</dt><dd>{City}</dd>
# <dt>Country</dt><dd>{Country}</dd>
# <dt>Description</dt><dd>{Current Description}</dd>
# <dt>Max Temp</dt><dd>{Max Temp} °F</dd>
# </dl>
# """
info_box_template = """
# <dl>
# <dt>City</dt><dd>{City}</dd>
# <dt>Country</dt><dd>{Country}</dd>

# <dt>Max Temp</dt><dd>{Max Temp} °F</dd>
# </dl>
# """

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
vacation_df.keys()

Index(['City_ID', 'City', 'Country', 'Max Temp', 'Current Description', 'Lat',
       'Lng', 'Hotel Name'],
      dtype='object')

In [5]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [79]:
vacation_start = vacation_df.loc[2]

In [33]:
vacation_df.loc[vacation_df['City'] == "Mayo"]

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,6,Mayo,US,57.0,overcast clouds,38.8876,-76.5119,Resorts Resource Group International

In [34]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[34, ["Lat", "Lng"]]
vacation_end = vacation_df.loc[34, ["Lat", "Lng"]]
vacation_stop1 = vacation_df.loc[3, ["Lat", "Lng"]]
vacation_stop2 = vacation_df.loc[2, ["Lat", "Lng"]] 
vacation_stop3 = vacation_df.loc[4, ["Lat", "Lng"]]

In [35]:
vacation_start

Lat    36.6177
Lng   -121.917
Name: 34, dtype: object

In [36]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.to_numpy()
end = vacation_end.to_numpy()
stop1 = vacation_stop1.to_numpy()
stop2 = vacation_stop2.to_numpy()
stop3 = vacation_stop3.to_numpy()

In [20]:
start

array([-22.9661, -42.0278], dtype=object)

In [39]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
route = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(route)
fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat(['vacation_start','vacation_end','vacation_stop1','vacation_stop2','vacation_stop3'],ignore_index=True)
itinerary_df

TypeError: cannot concatenate object of type '<class 'str'>'; only Series and DataFrame objs are valid

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map.

# 11b. Display the figure